@page "/cards"
@inject HttpClient Http

<h1>Card catalog</h1>

@if (cards == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Expansion</th>
        <th>Description</th>
        <th>Color text</th>
        <th>Cost black</th>
        <th>Cost blue</th>
        <th>Cost colorless</th>
        <th>Cost green</th>
        <th>Cost red</th>
        <th>Cost white</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var card in cards)
      {
        <tr>
          <td>@card.Title</td>
          <td>@card.Expansion</td>
          <td>@card.Description</td>
          <td>@card.ColorText</td>
          <td>@card.CostBlack</td>
          <td>@card.CostBlue</td>
          <td>@card.CostColorless</td>
          <td>@card.CostGreen</td>
          <td>@card.CostRed</td>
          <td>@card.CostWhite</td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  private Card[] cards;

  protected override async Task OnInitializedAsync()
  {
    cards = await Http.GetJsonAsync<Card[]>("sample-data/cards.json");
  }
}